* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0;
}

.card {
    width: 30%;
    height: auto;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  16px 16px 32px #bebebe,
                -16px -16px 32px #ffffff;
    overflow: hidden;
}

.container {
    margin: 120px;
    display: flex;
    flex-wrap: wrap;
}

.cover {
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 50px;
    width: 90%;
}

.tool-name {
    text-align: center;
    margin-bottom: 10px;
}

.tool-button {
    text-align: center;
}

.button {
    background-color: #e0e0e0;
    margin: 0 120px 20px 120px;
    padding: 10px;
    border-radius: 50px;
    box-shadow:  16px 16px 32px #bebebe,
                -16px -16px 32px #ffffff;
}

a {
    text-decoration: none;
    color: #123;
}

.special {
    width: 420%;
}

.cat-container {
    margin: 50px 100px 50px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.category {
    margin-right: 25px;
    margin-bottom: 25px;
    width: 23%;
    border-radius: 50px;
    background: #e0e0f0;
    box-shadow:  16px 16px 32px #bebebe,
                -16px -16px 32px #ffffff;
    display: flex;
    flex-direction: column;
}

.icon {
    width: 90%;
    margin: 15px;
    border-radius: 50px;
}

.name-button {
    text-align: center;
    background-color: #a0e0e0;
    margin: 5px 50px 20px 50px;
    border-radius: 50px;
    padding: 10px;

}


@media screen and (max-width: 800px) {
    .container {
        margin: 30px;
    }

    .card {
        width: 43%;
    }

    .button {
        margin: 20px 60px;
    }

    .cover {
        width: 85%;
    }

    .cat-container {
        margin: 60px 20px 60px 60px;
    }

    .category {
        width: 29%;
        border-radius: 30px;
    }

    .icon {
        width: 85%;
        border-radius: 25px;
    }

    .name-button {
        margin: 0px 35px 10px 35px;
        font-size: 10px;
    }
}

@media screen and (max-width: 700px) and (min-width: 300px) {
    .container {
        margin: 20px;
        flex-direction: column;
    }

    .card {
        width: 90%;
        flex-direction: column;
    }

    .button {
        margin: 10px 90px 30px 80px;
    }

    .cover {
        width: 85%;
    }

    .cat-container {
        flex-direction: column
    }

    .category {
        width: 90%;
        border-radius: 50px;
    }

    .icon {
        border-radius: 50px;
        width: 88%;
    }
}